<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proba.Properties.Settings.Progect_MPGGConnectionString"
            connectionString="Data Source=ngknn.ru;Initial Catalog=Progect_MPGG;Persist Security Info=True;User ID=31П;Password=12357"
            providerName="System.Data.SqlClient" />
        <add name="proba.Properties.Settings.Progect_MPGG1ConnectionString"
            connectionString="Data Source=ngknn.ru;Initial Catalog=Progect_MPGG1;Persist Security Info=True;User ID=31П;Password=12357"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>